---
title: "Machine Learning Club"
layout: default
pagination:
    enabled: false
description: "Book Reviews"
permalink: "/book-reviews.html"
---


<div class="container">
    
<!-- Books Intro -->
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative remove-site-content-margin">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-5 pt-6 pb-6 align-self-center">
                <h1 class="mb-3 font-weight-bold">Book Reviews</h1>
                <p class="mb-3">
                    Here are notes I've taken on books I've read. Some are in-depth, some are short, some include quotes. I've included ratings and genres for future sorting.
                </p>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/assets/images/home.jpg);">  </div>
        </div>
    </div>
</div>   
    
    
<!-- Begin book excerpts -->
<div class="row mt-3">
    <div class="col-md-8 main-loop">
        <h4 class="font-weight-bold spanborder"><span>All Books</span></h4>
        {% for post in site.books %}
            {% include main-loop-book-card.html %}
        {% endfor %}
    </div>
</div>

</div>